
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
OBSE/*
SKSE/common/*
SKSE/skse/_UpgradeReport_Files/*
SKSE/skse/UpgradeLog.XML
SKSE/skse/ipch/*
SKSE/skse/*
*.sdf
tmp/*
*.opensdf
Script Dragon/common/enums.h
Script Dragon/common/invoke.h
Script Dragon/common/obscript.h
Script Dragon/common/plugin.cpp
Script Dragon/common/plugin.def
Script Dragon/common/plugin.h
Script Dragon/common/types.h
Script Dragon/common/skyscript.h